.git
.github
node_modules
.output
.nitro
.tanstack
dist
dist-ssr
*.local
.env
.env.*
!.env.example
drizzle/meta/_journal.json.bak
**/*.log
.vscode
.DS_Store
README.md
CONTRIBUTING.md
SECURITY.md
docs
